.header {
  margin: 0 auto;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo__pic {
  max-width: 185px;
  max-height: 94px;
}

.header__nav {
  width: inherit;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.nav__item {
  margin-left: 32px;
  font-size: 16px;
}

.header__link {
  text-decoration: none;
  font-family: 'Montserrat Light', Arial, Helvetica, sans-serif;
  font-size: 16px;
  letter-spacing: 1.5px;
  line-height: 1;
  text-decoration-style: solid;
  text-transform: uppercase;
  color: rgba(70, 69, 83);
  opacity: 0.5;
  transition: all linear 0.5s;
}

.header__link:hover {
  opacity: 1;
}

.hamburger-svg-style {
  stroke: rgba(70, 69, 83, 1);
}

.header__menu {
  cursor: pointer;
}

@media (max-width: 1024px) {
  .header__nav {
    display: none;
  }
}

@media (min-width: 1025px) {
  .header__menu {
    display: none;
  }
}

nav._mobile {
  position: absolute;
  top: 34px;
  right: 0;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: flex-end;
}

.header__nav._mobile {
  margin-top: 24px;
  padding: 16px 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #fff;
  z-index: 10;
}

.nav__item._mobile {
  margin: 0;
}

.nav__item._mobile .header__link {
  font-size: 18px;
}

@media (max-width: 640px) {
  .header__nav._mobile {
    width: 100vw;
    position: relative;
    right: -16px;
    align-items: center;
  }
}
