.footer__link-icon {
  width: 32px;
  height: 32px;
}

.footer__container {
  margin: 0 auto;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer__links {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.footer__link:first-of-type {
  margin-right: 24px;
}

.footer__link:last-of-type {
  margin-left: 24px;
}

.footer__copyright {
  margin-top: 16px;
}

.footer__link:hover {
  transform: scale(1.2);
  transition: all 0.5s ease-in-out;
}
