.album {
  display: flex;
  flex-wrap: wrap;
}

@supports (column-count: 3) or (-moz-column-count: 3) or (-webkit-column-count: 3) {
  .album {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    display: block;
    flex-wrap: unset;
  }
}

.album__photo {
  width: 33.33%;
  margin-bottom: 18px;
}

@supports (column-count: 3) or (-moz-column-count: 3) or (-webkit-column-count: 3) {
  .album__photo {
    display: inline-block;
    page-break-inside: avoid;
    width: 100%;
  }
}

@media (max-width: 640px) {
  @supports (column-count: 2) or (-moz-column-count: 2) or (-webkit-column-count: 2) {
    .album {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
      display: block;
      flex-wrap: unset;
    }
  }

  .album__photo {
    width: 50%;
    margin-bottom: 12px;
  }

  @supports (column-count: 2) or (-moz-column-count: 2) or (-webkit-column-count: 2) {
    .album__photo {
      display: inline-block;
      page-break-inside: avoid;
      width: 100%;
    }
  }
}

@media (max-width: 425px) {
  @supports (column-count: 1) or (-moz-column-count: 1) or (-webkit-column-count: 1) {
    .album {
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1;
      display: block;
      flex-wrap: unset;
    }
  }

  .album__photo {
    width: 100%;
    margin-bottom: 18px;
  }

  @supports (column-count: 1) or (-moz-column-count: 1) or (-webkit-column-count: 1) {
    .album__photo {
      display: inline-block;
      page-break-inside: avoid;
      width: 100%;
    }
  }
}
