.wrapper {
  position: relative;
  display: block;
  width: 100%;
}

.wrapper::after {
  content: '';
  display: block;
  padding-top: 150%; /*установите ваши пропорции, в данном случае квадрат*/
}

img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  object-fit: cover;
}

p {
  margin: 0;
  text-align: center;
  font-family: 'Gilroy-Light', Arial, Helvetica, sans-serif;
  text-transform: lowercase;
  letter-spacing: 1.5px;
}

img:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.2s ease-in;
}
