<div class="contacts__container">
  <figure class="contacts__figure">
    <img src="assets/images/nastya.jpg" alt="nastya" class="figure__picture" />
    <figcaption class="figure__caption">
      <p class="caption__text mt-24">
        Привет, меня зовут Настя, я фотограф. Занимаюсь портретной съемкой, контент-съемкой, устраиваю фотопрогулки.
      </p>
      <p class="caption__text">
        Профессионально фотографирую с 2019 года, но с камерой познакомилась гораздо раньше. Фотоаппарат подарили еще в
        школе. Я снимала подружек, городские пейзажи, цветочки, лепесточки. Возможно, тогда и зародилась любовь к
        фотографии.
      </p>
      <p class="caption__text">
        У меня был салон по наращиванию ресниц на протяжении 5 лет, но, к сожалению, перегорела к ресничному делу.
        Поскольку я человек творческий, после недолгих раздумий пошла на курсы фотографа, о чем не пожалела. Профессия
        фотографа дает возможность создавать, реализовывать себя, взамен получая эмоции и благодарность клиентов.
      </p>
      <p class="caption__text">
        Я не остановилась на первом пройденном курсе по фотографии, стараюсь каждый день совершенствоваться. В свободное
        время изучаю новые курсы и материалы по фотосъемке. Постоянно нахожусь в поисках цепляющих и интересных идей.
      </p>
      <p class="caption__text">
        Съемка проходит в комфортной обстановке. В процессе я всегда показываю снимки, чтобы Вы уже заранее могли
        представить результат.
      </p>
      <p class="caption__text mt-24">
        Кстати, Вам не придется ждать два месяца, чтобы получить фотографии. Отдаю фото всего за 3 дня!
      </p>

      <p class="caption__text mt-24">Tel: <a href="tel:12345678">12345678901</a></p>
      <p class="caption__text">E-mail: <a target="_blank" href="mailto:email@email.com">mail@mail.ru</a></p>
      <p class="caption__text">Vk: <a target="_blank" href="https://vk.com">vk</a></p>
      <p class="caption__text">Instagram: <a target="_blank" href="https://instagram.com">Instagram</a></p>
      <p class="caption__text">WhatsApp: <a target="_blank" href="https://whatsapp.com">whatsapp</a></p>
    </figcaption>
  </figure>
  <div class="explain">
    <h3 class="explain__title">Ко мне обращаются, чтобы:</h3>
    <ul class="explain__list">
      <li class="explain__text">Оформить свой аккаунт красивыми фотографиями с профессиональной обработкой</li>
      <li class="explain__text">Сделать визуальный контент цепляющим</li>
      <li class="explain__text">Раскрыть себя с разных сторон и обрести уверенность</li>
      <li class="explain__text">Научиться позированию</li>
      <li class="explain__text">Получить позитивный заряд и эмоции</li>
    </ul>
  </div>
</div>
