<div class="contacts__container">
  <figure class="contacts__figure">
    <img src="assets/images/nastya.jpg" alt="nastya" class="figure__picture" />
    <figcaption class="figure__caption">
      <p class="caption__text">
        Привет, я Настя!
      </p>

      <p class="caption__text mt-24">
        Фотограф и графический дизайнер. Два этих занятия для меня не просто хобби или увлечения, это то, чем я живу.
        Для меня очень важно качество работы, которую делаю, ведь я всегда чувствую ответственность перед теми людьми,
        которые доверили мне такие важные вещи, как создание фотографий на долгую память или свадебных приглашений.
      </p>
      <p class="caption__text">
        Что может быть ценнее признания твоего творчества, когда искреннее восхищение довольных клиентов заставляет
        поверить в себя и не сдаваться ни при каких обстоятельствах, а двигаться только вперед, создавая что-то хорошее
        и важное для людей.
      </p>
      <p class="caption__text mt-24">Tel: 8 (968) 560-22-77 (Кликай и звони)</p>
      <p class="caption__text">E-mail: 89685602277@mail.ru</p>
      <p class="caption__text">Vk: vk.com/nastyalinok</p>
      <p class="caption__text">Instagram: instagram.com/linok.n</p>
      <p class="caption__text">WhatsApp: 8 (968) 560-22-77 (Кликай и пиши в WhatsApp)</p>
      <p class="caption__text mt-24">Нахожусь в Москве, заказы отправляю в любой уголок планеты.</p>
    </figcaption>
  </figure>
</div>
