.contacts__figure {
  margin: 64px auto;
  padding: 0 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.figure__picture {
  width: 40%;
  max-width: 640px;
  object-fit: scale-down;
}

.figure__caption {
  margin-left: 32px;
}

.caption__text {
  margin: 0;
  margin-bottom: 8px;
  font-family: 'Gilroy-Light', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.3;
}

.mt-24 {
  margin-top: 24px;
}

.explain {
  max-width: 800px;
  margin: 0 auto;
  font-family: 'Gilroy-Light', Arial, Helvetica, sans-serif;
}

.explain__title {
  font-size: 20px;
  text-align: center;
}

.explain__list {
  margin-top: 24px;
}

@media (max-width: 1024px) {
  .caption__text {
    font-size: 12px;
  }
  .figure__caption {
    margin-left: 24px;
  }
  .contacts__figure {
    margin: 32px auto;
    padding: 0 12px;
  }
}

@media (max-width: 640px) {
  .caption__text {
    font-size: 14px;
  }
  .figure__caption {
    margin-top: 24px;
    margin-left: 0;
    text-align: center;
  }
  .contacts__figure {
    margin: 24px auto;
    padding: 0 12px;
    flex-direction: column;
  }
  .figure__picture {
    margin: 0 auto;
    width: 100%;
    max-width: 640px;
    object-fit: scale-down;
  }
}
